.box{
    padding: 15px;
    background-color:rebeccapurple;
    border: 1px solid white;
    color: white;
    font-size: 12px;
    text-align: center;
    box-sizing: border-box;
}

.nasted{
    background-color:sandybrown;
}

.spazio{
    height: 15px;
    width: 100%;
    background-color:white;
}